In [ ]:
# ----------------- Function in python
# 1.Every function has thier own purpose.
# 2.Fuction is a block of code.
# 3.Functional programming is very easy to find and debug the error.
# 4.Fuction are reusable as per need.

# Fuction type function
# 1.In-built method
# 2.UDF (User-defined-function)

# Parameters and arguments (args) 
# 1.Default parameters
# 2.Positional arguments
# 3.Keyword arguments
# 4.Arbitrary arguments

# Categories of function
# 1.Take nothing return nothing
# 2.Take nothing return something
# 3.Take something return nothing
# 4.Take something return something

# lambda function (anonymous function)
# HOF : Higher order functions(filter(),map(),reduce())

# Assignment

In [2]:
# defination 
def fun():
    print("I am function")
print("outside the function")
fun() # calling

outside the function
I am function

In [4]:
# 1.Take nothing return nothing
def add():
    a=10
    b=20
    c=a+b
    print(c)
add()

30

In [36]:
# parameter and arguments
# positional args.
def odd_even(name,age):
    print(f"name :{name}")
    print(f"age :{age}")
odd_even(10,"dev")

name :10
age :dev

In [21]:
# default parameter
def odd_even(a=0,b=0,c=0):
    print(f"a :{a}")
    print(f"b :{b}")
odd_even(200,300,90)

a :200
b :300

In [25]:
# keyword args
def stu_profile(sid,sname,sroll,smob):
    print(f"Student ID:{sid}")
    print(f"Student Name:{sname}")
    print(f"Student Roll:{sroll}")
    print(f"Student Mob:{smob}")
stu_profile(smob=8900000,sname="Dev",sid=12345,sroll=450)

Student ID:12345
Student Name:Dev
Student Roll:450
Student Mob:8900000

In [32]:
def stu_profile(**kwargs):
    print(kwargs)
    print(f"Student ID:{kwargs.get("sid","N/A")}")
    print(f"Student Name:{kwargs.get("sname","N/A")}")
    print(f"Student Roll:{kwargs.get("sroll","N/A")}")
    print(f"Student Mob:{kwargs.get("smob","N/A")}")
stu_profile(smob=8900000,sname="Dev",sid=12345,sroll=450)

{'smob': 8900000, 'sname': 'Dev', 'sid': 12345, 'sroll': 450}
Student ID:N/A
Student Name:Dev
Student Roll:450
Student Mob:8900000

In [10]:
# 4.Arbitrary arguments
import math
def multiply(*args):
    print(n)
    print(math.prod(n))
multiply(10,20,30,40)

(10, 20, 30, 40)
240000

In [12]:
# 4.Arbitrary arguments
def multiply(*n):
    m=1
    for i in n:
        m=m*i
    print(m)
multiply(10,20,30,40)

240000

In [7]:
# 4.Take something return something.
def my_money(price):
    return price
res=my_money(100)
print(res)

100

In [8]:
# 3.Take something return nothing
def my_money(price):
    print(price)
my_money(100)

100

In [10]:
# 2.Take nothing return something
def my_money():
    a=20
    b=30
    return a+b
r=my_money()
print(r)

50

In [14]:
# Global and local scope.
user_pass="dev@1234"
def login():
    print(user_pass)
print(user_pass)
login()
print(user_pass)

dev@1234
dev@1234
dev@1234

In [9]:
# Global and local scope.

def login():
    global user_pass
    user_pass="dev@1234"
    print(user_pass)

login()

login()
print(user_pass)

dev@1234
dev@1234
dev@1234

In [21]:
# lambda function (anonymous function).
s=lambda :10+20
print(s())

30

In [1]:
# Wap to check number is given by user is odd or even using lambda
check=lambda x:"Even" if x%2==0 else "Odd"
print(check(10))

Even

In [3]:
def check(n):
    if n%2==0:
        return "Even"
    else:
        return "ODD"
print(check(10))

Even

In [5]:
def calculator(a,b):
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)
    print(a%b)
calculator(10,20)

30
-10
200
0.5
10

In [10]:
cal=lambda a,b:(a-b,a+b,a%b,a/b)
res=cal(10,20)
print(res)

(-10, 30, 10, 0.5)

In [16]:
res=lambda x:([i for i in x if i>=50],[i for i in x if i<=50])
print(res([12,89,45,90,44,33]))

([89, 90], [12, 45, 44, 33])

In [15]:
def check_pass(n):
    new=[]
    for i in n:
        if i>=50:
            new.append(i)
    return new
res=check_pass([12,89,45,90,44,33])
print(res)

[89, 90]

In [19]:
# HOF : Higher order functions(filter(),map(),reduce())
# Higher order functions are functions that take another function as its argument
# and that function passed as argument known as callback function.
# return values as list , tuple , set.
# filter(fun,iterator)
# map(fun,iterator)
# reduce(fun,iterator)

In [30]:
def check_pass(n):
    if n>=50:
        return n
marks=(12,89,45,90,44,33)
res=(list(filter(check_pass,marks)))
print(res)

[89, 90]

In [37]:
# print((list(filter(lambda x:x>=50,(12,89,45,90,44,33)))))
print((list(filter(lambda x:(x>=50),(12,89,45,90,44,33)))))

[12, 89, 45, 90, 44, 33]

In [22]:
def check_pass(n):
    new_marks=[]
    for i in n:
        if i>=50:
            new_marks.append(i)
    return new_marks
res=check_pass([12,89,45,90,44,33])
print(res)

[89, 90]

In [26]:
def check_pass(n):
    if n>=50:
        return n

res=check_pass(60)
print(res)

60

In [1]:
# map(fun,iterator)
marks=[20,45,78,90,44,22]
new_marks=map(lambda x:x+10,marks)
print(list(new_marks))

[30, 55, 88, 100, 54, 32]

In [2]:
def grace_marks(n):
    new_marks=[]
    for i in n:
        new_marks.append(i+10)
    return new_marks
print(grace_marks([20,45,78,90,44,22]))

[30, 55, 88, 100, 54, 32]

In [ ]:
# Wap to transform the give array [20,45,78,90,44,22] to [0,0,0,0,0,0].

In [ ]:
# [0,0,0,0,0,0] zeros
# [1,1,1,1,1,1] ones
# [-1,-1,-1,-1,-1] negative ones

In [88]:
import random
emp=["aman","shubham","shivam","kamal","abhisek"]
tags=["HR","DEVELOPER","MANAGER","TL"]
random.choice(tags)
res=[f"{i}-{j}" for i,j in zip(emp,tags)]
print(res)

['aman-HR', 'shubham-DEVELOPER', 'shivam-MANAGER', 'kamal-TL']

In [79]:
import random
emp=["aman","shubham","shivam","kamal","abhisek"]
tags=["HR","DEVELOPER","MANAGER","TL"]
new_list=[]
random.shuffle(tags)
for i in range(len(emp)):
    new_list.append(emp[i]+"-"+tags[i-1])
print(new_list)

['aman-HR', 'shubham-TL', 'shivam-DEVELOPER', 'kamal-MANAGER', 'abhisek-HR']

In [84]:
import random
emp=["aman","shubham","shivam","kamal","abhisek"]
tags=["HR","DEVELOPER","MANAGER","TL"]
random.shuffle(tags)
new_list=list(map(lambda i:emp[i]+"-"+tags[i],range(len(emp))))
print(new_list)

IndexError: list index out of range

In [ ]:
emp=["aman","shubham","shivam","kamal","abhisek"]
res1=["AMAN","SHUBHAM","SHIVAM","KAMAL","ABHISEK"]
res1=["AMan","SHubHAM","shivam","KAmal","AbhiShek"] # find total upper count tottal lower count.

In [12]:
res1=["AMan","SHubHAM","shivam","KAmal","AbhiShek"] # find total upper count tottal lower count.
all_char="".join(res1)
upper=len(list(filter(lambda ch:ch.isupper(),all_char)))
lower=len(list(filter(lambda ch:ch.islower(),all_char)))
print(upper)
print(lower)

11
19

In [13]:
res1=["AMAN","SHUBHAM","SHIVAM","KAMAL","ABHISEK"] 
res=list(map(lambda x:x.replace("A","THE"),res1))
print(res)

['THEMTHEN', 'SHUBHTHEM', 'SHIVTHEM', 'KTHEMTHEL', 'THEBHISEK']

In [36]:
prod_list=["iphone","vivo","apple","oppo","oneplus","nothing","realme"]
user_char="aiz"
for i in user_char:
    res=list(filter(lambda x:i in x,prod_list))
    if res==[]:
        print(f"Product Unable to found with :{i} ")
    else:
        print(f"Product with {i}:{res}")

Product with a:['apple', 'realme']
Product with i:['iphone', 'vivo', 'nothing']
Product Unable to found with :z

In [1]:
from functools import reduce
# reduce : HOF
# a function that take two args .
# a sequence (like list)
# an optional initalizer
# then is applies the commulatively (step by step) to the itesm seq.

In [28]:
my_list=[1,2,3]
res=reduce(lambda x,y:x*y,my_list,5)
print(res)

12

In [20]:
my_list=[1,2,3,4,5]
s=0
for i in my_list:
    s=s+i
print(s)

15

In [43]:
# gcd.
import math
num=[48,64,80]
gcd=reduce(math.gcd,num)
print(gcd)

16

In [50]:
my_list=[[1,2],[4,5],[67],[30,40,90]]
flat=reduce(lambda x,y:x+y,my_list,[767])
print(flat)

[767, 1, 2, 4, 5, 67, 30, 40, 90]

In [49]:
word=["python","is","awesome"]
sen=reduce(lambda x,y:x+" "+y,word,"hello")
print(sen)

hello python is awesome

In [63]:
emp_id=[3,30,44,60,8]
all_even=reduce(lambda x,y:x and y %2 == 0,emp_id)
print(all_even)

True

In [61]:
emp_balance=[100,-20,50,-10]
balance=reduce(lambda x,y:x+y,emp_balance)
print(balance)

120